{% extends "index.html" %}

{% block content %}

    <form action="{{ url_for("cron_add", username=username) }}" method="post" class="form-inline"  role="form">
        {{ form.hidden_tag() }}
     <div class="form-group">


        <div class="col-sm-6">
            {{ form.executable(class_="form-control", placeholder="enter executable") }}
        </div>
     </div>
    <div class="form-group">

        <div class="col-sm-6">
            {{ form.account (class_="form-control", placeholder="enter account")}}
        </div>
    </div>
        <br>

        <div class="radio">
            {{ form.type }}
        </div>
        <br>
    <div class="form-group">
        <div class="col-sm-6">
            {{ form.minutes (class_="form-control", placeholder="enter minutes") }}
        </div>
    </div>
   <div class="form-group">
        <div class="col-sm-6">
            {{ form.hour (class_="form-control", placeholder="enter hour")}}
        </div>
   </div>
        {% if form.errors %}
            <ul class=errors>
                {% for field, errors in form.errors.items(): %}
                    {% for error in errors %}
                      <li>Error in the field {{field}}:{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
   <br>

   <div class="form-group">
        <div class="col-sm-offset-1 col-sm-8">
            <button type="submit" class="btn btn-default">Send</button>
        </div>
    </div>
</form>
    <p class="bg-info">
        or <a href="{{ url_for("cron_raw", username=username) }}">add raw </a>
    </p>
{% endblock %}
</body>
</html>